<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mislead.ikanxue.app"
    >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <!--接收开机广播-->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".application.MyApplication"
      android:theme="@style/AppTheme"
      >
    <activity
        android:name="com.mislead.ikanxue.app.activity.SplashActivity"
        android:label="@string/app_name"
        android:theme="@style/SplashTheme"
        android:screenOrientation="portrait"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.mislead.ikanxue.app.activity.MainActivity"
        android:screenOrientation="portrait"
        />
    <activity
        android:name=".activity.LoginActivity"
        android:screenOrientation="portrait"
        android:label="@string/user_login"
        />

    <activity
        android:name=".activity.AboutActivity"
        android:screenOrientation="portrait"
        android:label="@string/about"
        />

    <activity
        android:name=".activity.UserInfoActivity"
        android:screenOrientation="portrait"
        android:label="@string/user_info"
        />

    <activity
        android:name=".activity.ForumDisplayActivity"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".activity.ThreadDisplayActivity"
        android:screenOrientation="portrait"
        />

    <activity
        android:name=".activity.PostNewThreadActivity"
        android:screenOrientation="portrait"
        />

    <activity
        android:name="com.mislead.ikanxue.app.test.TestActivity"
        android:label="test "
        android:theme="@style/MainActivityTheme"
        android:screenOrientation="portrait"
        >
      <!--<intent-filter>-->
      <!--<action android:name="android.intent.action.MAIN"/>-->

      <!--<category android:name="android.intent.category.LAUNCHER"/>-->
      <!--</intent-filter>-->
    </activity>
  </application>

</manifest>
